@import url("./main.css");

.container{
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}

.mainicon{
  width: 200px;
}

.subtext{
  width: 360px;
  height: 100px;
  
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 100px;
}

.subtext p{
  font-size: 12px;
  margin-left: 25px;
  margin-top: 20px;
}

p:nth-child(1) span{
  background: linear-gradient(to top, #fff490 50%, transparent 50%);
}
p:nth-child(2) span{
  background: linear-gradient(to top, rgb(255, 196, 236)50%, transparent 50%);
}
p:nth-child(3) span{
  background: linear-gradient(to top, rgb(155, 228, 255)50%, transparent 50%);
}
.subtitle{
  font-family: 'Galmuri9';
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: 500;
}

.maintitle a{
  font-size: 50px;
  font-family: 'Galmuri9';
  font-weight: 700;
  text-shadow: -5px 0 #d9d9d9, 0 5px #d9d9d9, 5px 0 #d9d9d9, 0 -5px #d9d9d9;
}